* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}
html, body {
    overflow-x: hidden;
}
.hero {
    position: relative;
    min-height: 90vh; /* se adapta a pantalla */
    background: url("../img/caravante.png") center/cover no-repeat;
    overflow: hidden;
    transition: transform 0.6s ease;
}

.hero2 {
    position: relative;
    min-height: 60vh; /* se adapta a pantalla */
    background: url("../img/escaleras.png") center/cover no-repeat;
    overflow: hidden;
    transition: transform 0.6s ease;
}


.hero:hover, .hero2:hover{
 transform: scale(1.05);
}

/* Overlay perfecto */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* Contenido encima */
.hero .content {
    position: relative;
    z-index: 2;
    max-width: 900px;
}

/* TEXTO RESPONSIVE REAL */
.hero h1 {
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    line-height: 1.2;
}

/* BOTÓN adaptable */
.btn-granate {
    padding: 10px 25px;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}


.letra1 {
    font-family: "Montaga", serif;
}

.btn-verde {
    background-color: rgb(175, 235, 46);
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-verde:hover {
    background-color: rgb(132, 192, 0);
    color: white;
}

.btn-vb {
    background-color: white;
    padding: 10px 30px;

    border: 3px solid rgb(175, 235, 46);

    border-radius: 25px;
    cursor: pointer;
}

.btn-vb:hover {

    background-color: rgb(217, 243, 160);
    color: black;
}

.btn-granate {
    background-color: #9C2B34;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.btn-granate:hover {
    background-color: #5f181e;
}

.card-granate {
    background-color: #9C2B34;
    border-radius: 25px;
    color: white;
    padding: 20px;
}

.card-rosa {
    background-color: #D58086;
    border-radius: 25px;
    color: white;
    padding: 20px;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
    color: #9C2B34;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #9C2B34;
}

.fondo {
    background-color: #9C2B34;
    color: white;
    font-size: 14px;
}
footer{
    background-color: white;

}
/* CARDS */
.card-granate, .card-rosa {
    transition: all 0.3s ease;
}

.card-granate:hover, .card-rosa:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* BOTONES */
.btn-granate, .btn-verde, .btn-vb {
    transition: all 0.3s ease;
}

.btn-granate:hover,
.btn-verde:hover,
.btn-vb:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

